@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
*{ 
    margin:top;
    box-sizing:border-box;
    
}

.topo{ 
    position:absolute;
    background-color:black;
    width: 1800px;
    height:300px;
    
}
.menu1{ 
    display:flex;
    flex-direction: row;
    justify-content:center;
    top:100px;
    align-items:center;

}
.menu2{ 
    color:white;
    position:relative;
    font-size:20px;
    left:20px;
    
    
}

a{ 
    text-decoration:none;
    color:white;


}
input{ 

    display:flex;
    flex-direction:row;
    width:400px;
    bottom:137px;
    font-size:20px;
    position:absolute;
    height:50px;
    justify-content:center;
    align-items:center;
}
.lupa{ 
    position:absolute;
    display:flex;
    left:1100px;
    top:1px;
    margin-bottom:15px;
    justify-content:center;
    align-items:center;
    
    bottom:10px;
}

.carrinho{
    height:42px;
    margin-left:50px;
}
.login{ 
    position:absolute;
    display:flex;
    left:1200px;
    cursor:pointer;
    top:1px;
    margin-bottom:15px;
    justify-content:center;
    align-items:center;
    right:10px;
    bottom:10px;
}
.menu{ 
    color:white;
    display:inline;
    justify-content:center;
    flex-wrap: wrap;
    font-size:25px;
    left:1000px;
}
.conteudo{ 
    position:relative;
    display:flex;
    background-color:#24252a;
    width: 1800px;
    top:300px;
    height:1800px;
}
.caixas{ 
    display: inline;
    position:relative;
    flex-wrap: wrap;
}
.box1,.box2,.box4,.box5,.box6{ 
    display:inline;
    justify-content:center;
    position: relative;
    top:50px;
    left:460px;
    margin-left:50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
.box1:hover,.box2:hover,.box4:hover,.box5:hover,.box6:hover{ 
    color:yellowgreen;

}
.item1,.item2,.item3,.item4,.item5,.item6,.item7,.item8,.item9,.item10,.item11{ 
    justify-content:center;
    margin-left:200px;
    border:5px solid green;
    background-color:white;
    display: inline;
}
.item1{
    position:absolute;
    background-color:yellowgreen;
    color:green;
    padding:10px;

    width:200px;
    font-size: 18px;
    height:60px;
    cursor:pointer;
}
.item2{ 
    position:absolute;
    background-color:yellowgreen;
    color:white;
    padding:10px;
    font-size:20px;
    width:300px;
    height:60px;
    left:140px;
}
.item3{ 
    position:absolute;
    width:120px;
    left:250px;
    height:60px;
    background-color:yellowgreen;
    padding:10px;
    font-size:20px;
    color:white;
}
.item4{ 
    position:absolute;
    width:120px;
    left:350px;
    height:60px;
    background-color:yellowgreen;
    color:white;
    padding:10px;
    font-size:20px;
}
.item5{ 
    position:absolute;
    width:150px;
    background-color:yellowgreen;
    color:white;
    padding: 10px; 
    font-size:20px;
    left:450px;
    height:60px;

}
.item6{
position:absolute;
width:120px;
background-color:yellowgreen;
color:white;
padding:10px;
font-size:20px;
height:60px;
left:560px;
}
.item7{ 
    position:absolute;
    width:180px;
    height:60px;
    font-size:20px;
    background-color:yellowgreen;
    color:white;
    padding:10px;
    left:640px;
}
.item8{ 
    position:absolute;
    width:120px;
    left:750px;
    height:60px;
    font-size:20px ;
    background-color:yellowgreen;
    color:white;
    padding:10px;
}
.item9{ 
    position:absolute;
    width:120px;
    left:850px;
    height:60px;
    font-size:20px;
    background-color:yellowgreen;
    color:white;
    padding:10px;
}
.item10{ 
    position:absolute;
    width:200px;
    height:60px;
    font-size: 20px;
    color:white;
    padding:10px;
    background-color:yellowgreen;
    left:960px;
}
.item11{ 
    position:absolute;
    width:130px;
    height:60px;
    color:white;
    font-size: 20px;
    padding:10px;
    background-color:yellowgreen;
    left:1070px;
}
.item1:hover,.item2:hover,.item3:hover,.item4:hover,.item5:hover,.item6:hover,.item7:hover,.item8:hover,.item9:hover,.item10:hover,.item11:hover{
    transition:all 0.3s ease 0s;
    background-color:white ;
    border:5px solid yellowgreen;
    color:orange;
}
.conteudo2{ 
    display:flex;
    position:absolute;
    justify-content:column;
    background-color:#24252a;
    width:1800px;
    top:650px;
    left:200px;

}

   
.imagem1{ 
    display:flex;
    position:absolute;
    top:50px;

}
.foto{ 
    width:174px;
    height:30px;
}
.imagem2{ 
    display:flex;
    position:absolute;
    top:50px;
    left:400px;

}

.imagem3{ 
    display:flex;
    position:absolute;
    top:50px;
    left:800px;
}

.imagem4{
    display:flex;
    position:absolute;
    top:50px;
    left:1200px;
}

.imagem5{ 
    display:flex;
    position:absolute;
    top:350px;


}

.imagem6{ 
    display:flex;
    position:absolute;
    top:350px;
    left:400px;
}

.imagem7{ 
    display:flex;
    position:absolute;
    top:350px;
    left:800px;

}

.imagem8{ 
    display:flex;
    position:absolute;
    top: 350px;
    left:1200px;
}

.imagem9{ 
    display:flex;
    position:absolute;
    top:650px;
}

.imagem10{ 
    display:flex;
    position:absolute;
    top:650px;
    left:400px;
}

.imagem11{
    display:flex;
    position:absolute;
    top:650px;
    left:800px;
}

.imagem12{ 
    display:flex;
    position:absolute;
    top:650px;
    left:1200px;
}


.bloco1,.bloco2,.bloco3,.bloco4,.bloco5,.bloco6,.bloco7,.bloco8,.bloco9,.bloco10,.bloco11,.bloco12{ 
    width:174px;
    height:30px;
    background-color:white;
    display:flex;
    right: 1px;
    flex-direction: row;
    font-size:20px;
    font-family: "Montserrat,sans serif";
    justify-content:center;
    top:160px;
    position:absolute;
    align-items:center;
    color:black;
}


.preço1{ 
    position:absolute;
    background-color:darkblue;
    width: 174px;
    height:30px;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:4px;
    top:190px;
    right:1px;

}

.preço2{ 
    position:absolute;
    background-color:darkblue;
    width: 174px;
    height:30px;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:4px;
    top:190px;
    right:1px;


}

.preço3{ 
    position:absolute;
    background-color:darkblue;
    width: 174px;
    height:30px;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:4px;
    top:190px;
    right:1px;

}
.preço4{ 
    position:absolute;
    background-color:darkblue;
    width: 174px;
    height:30px;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:4px;
    top:190px;
    right:1px;

}

.preço5{ 
    position:absolute;
    background-color:darkblue;
    width: 174px;
    height:30px;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:4px;
    top:190px;
    right:1px;

}

.preço6{ 
    position:absolute;
    background-color:darkblue;
    width: 174px;
    height:30px;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:4px;
    top:190px;
    right:1px;

}

.preço7{
    position:absolute;
    background-color:darkblue;
    width: 174px;
    height:30px;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:4px;
    top:190px;
    right:1px;

}

.preço8{ 
    position:absolute;
    background-color:darkblue;
    width: 174px;
    height:30px;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:4px;
    top:190px;
    right:1px;

}

.preço9{
    position:absolute;
    background-color:darkblue;
    width: 174px;
    height:30px;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:4px;
    top:190px;
    right:1px;

}

.preço10{ 
    position:absolute;
    background-color:darkblue;
    width: 174px;
    height:30px;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:4px;
    top:190px;
    right:1px;

}

.preço11{ 
    position:absolute;
    background-color:darkblue;
    width: 174px;
    height:30px;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:4px;
    top:190px;
    right:1px;

}

.preço12{ 
    position:absolute;
    background-color:darkblue;
    width: 174px;
    height:30px;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:4px;
    top:190px;
    right:1px;

}
 
.preço1:hover,.preço2:hover,.preço3:hover,.preço4:hover,.preço5:hover,.preço6:hover,.preço7:hover,.preço8:hover,.preço9:hover,.preço10:hover,.preço11:hover,.preço12:hover{ 
    transition: all 0.3s ease 0s;
    background-color:white;
    color:darkblue;
    cursor:pointer;
}

.rodape1{ 
    width:1800px;
    margin-top:300px;
    height:400px;
    background-color:black;
    color:#edf0f1;
    font-family: "Montserrat",sans-serif;
}
.rodape2{ 
    display:flex;
    position:absolute;
    color:#edf0f1;
    font-family: "Montserrat",sans-serif;
    top:2160px;
    left:1200px;
    
}
.rodape3{
    display:flex;
    position:absolute;
    top:2150px;
    left:1200px;
}
.rodape4{

top:112px;
left:390px;
position:absolute;
border-radius:0px;
}

.botao2{
    width:150px;
    height:50px;
    background-color:darkblue;
    font-size: 23px;
    color:white;
    padding:10px;
    cursor: pointer;
    position:absolute;
    left:10px;

}
.botao2:hover{ 
    background-color:blue;
    color:white;
    transition: all 0.3s ease 0s;
}
.caixa1{
    position:absolute;
    margin-top:40px;
   font-size:22px;
   left:50px;
}

.caixa2{ 
    position:absolute;
    margin-top:80px;
    font-size:22px;
    left:50px;
}

.caixa3{ 
    position:absolute;
    margin-top:120px;
    font-size:22px;
    left:50px;
}

.caixa4{ 
    position:absolute;
    margin-top:160px;
    font-size:22px;
    left:50px;
}

.caixa5{ 
    position:absolute;
    margin-top:200px;
    font-size:22px;
    left:50px;
}

.caixa6{ 
    position:absolute;
    margin-top:240px;
    font-size:22px;
    left:50px;
}

.caixa1:hover,.caixa2:hover,.caixa3:hover,.caixa4:hover,.caixa5:hover,.caixa6:hover{ 
    transition: all 0.3s ease 0s;
    color:yellowgreen;
}

.carrossel{ 
    width:1800px;
    height:600px;
    overflow: hidden;
}
.carrossel .fotos{ 
    width:500%;
    overflow: hidden;
    animation-name: animação;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.carrossel .fotos img {
  width:19.9%;
}

@keyframes animação{
    0% { 
        margin-left: 0;
    }
    20%{ 
        margin-left: 0;
    }
    25%{ 
        margin-left: -100%;
    }
    45%{ 
        margin-left:-100%;
    }
    50%{ 
        margin-left: -200%;
    }
    70%{ 
        margin-left: -200%;
    }
    75%{ 
        margin-left:-300%;
    }
    95%{
        margin-left: -300%;
    }

    100%{ 
        margin-left: -400%;
    }

}

.formasdepagamento{
    display:flex;
    color:white;
    position:absolute;
    margin-top: 200px;
    font-size: 25px;
    left:50px;
    

}
h1{
    font-size:25px;
    font-family: "Montserrat";
}
.texto{
    position:absolute;
    top:113px;
}

.cartão,.cartão1,.cartão2,.cartão3,.cartão4,.cartão5{ 
    width:60px;
    
    height: 60px;
    margin:20px;
    
    top:200px;
    left: 210px;;
}

.cartões{ 
    display:flex;
    margin-top:250px;
    position:absolute;
    
}