<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/estilo.css">
    <link rel="stylesheet" href="/css/animation.css">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
    
</head>
<body>
	<nav class="nav-1">
		<input type="checkbox" id="check">
		<label for="check" class="checkbtn">
			<i class="fas fa-bars"></i>
		</label>
		<label class="logo">Mercado DH</label>
		<ul>
			<li><a class="active" href="#">Entrega  ou Retirada</a></li>
			<li><a  class="a1" href="#" >Prêmios</a></li>
			<li><a  class="a1" href="#">Para Você</a></li>
			<li><a href="#"><img class="img" src="/img/cabecalho-img/login4-.jpg"></a></li>
            <li><a href="#"><img class="img1" src="/img/cabecalho-img/carrinho.vetor.jpg"></a></li>
		</ul>
	</nav>
    <nav class="caixas"> 
        <ul class="ul1">
        <li class="li1"><a class="a2" href="#">Todas as Seções</a></li>
        <li class="li1"><a class="a2" href="#">Mercearia</a></li>
        <li class="li1"><a class="a2" href="#">Limpeza</a></li>
        <li class="li1"><a class="a2" href="#">Bebidas</a></li>
        <li class="li1"><a class="a2" href="#">Açougue</a></li>
        <li class="li1"><a class="a2" href="#">Frios</a></li>
        <li class="li1"><a class="a2" href="#">Perfumaria</a></li>
        <li class="li2"><a class="a3" href="#">SuperOfertas</a></li>
        
        </ul>
    </nav>
        <main>
            <section class="carrossel">
                <div class="fotos">
                    <img class="foto1" src="/img/carrossel/banner-bebidas3.jpg" alt="foto 1">
                    <img class="foto2" src="/img/carrossel/banner-brilhante.jpg" alt="foto 2">
                    <img class="foto3" src="/img/carrossel/banner-cafe.jpg" alt="foto 3">
                    <img class="foto6" src="/img/carrossel/banner-novo.jpg" alt="foto4">
                    <img class="foto1" src="/img/carrossel/banner-bebidas3.jpg" alt="foto 1">
                    
                    
                </div>
            </section>
        <picture class="ofertas"> 
            <img class="ofertas1" src="/img/ofertas/ofertas-img.jpg">
            <img class="ofertas2" src="/img/ofertas/ofertas-img2.jpg">
            <img class="ofertas3" src="/img/ofertas/ofertas-todynho.jpg">
            <img class="ofertas4" src="/img/ofertas/ofertas nescafé.jpg">
        </picture>

        <h1>SUPEROFERTAS</h1>
        <section class="produtos"> 
            <section class="produto">
            <img src="/img/produtos/produto1.jpg">
            <p><a class="a3" href="/sobrecoxa">Sobrecoxa Sadia Bio 1 Kg</a></p>
            <span>Por R$12,95</span>
            </section>
            <section class="produto">
            <img src="/img/produtos/produto2.jpg">
            <p><a class="a3" href="/Hambúrguer">Hambúrguer Bovino Tradicional 350g</a></p> 
            <span>Por R$14,79</span>
            </section>
            <section class="produto">
            <img src="/img/produtos/produto3.jpg">
            <p><a class="a3" href="/batata">Batata MCcain 600g</a></p>
            <span>Por R$10,99</span>
            </section>
            <section class="produto">
            <img src="/img/produtos/produto4.jpg">
            <p><a class="a3" href="/frango">Frango Seara Congelado 1,3kg</a></p>
            <span>Por R$21,97</span>
            </section>
            <section class="produto">
            <img src="/img/produtos/produto5.jpg">
            <p><a class="a3" href="/peito-de-frango">Peito de Frango Sadia Zip 1 kg</a></p>
            <span>Por R$21,95</span>
            </section>
            <section class="produto">
            <img src="/img/produtos/produto6.jpg">
            <p><a class="a3" href="/linguiça">Linguiça Gourmet Seara  500g</a></p>
            <span>Por R$16,99</span>
            </section>
            <section class="produto">
            <img src="/img/produtos/produto7.jpg">
            <p><a class="a3" href="/lasanha">Lasanha Bolonhesa Sadia 600g</a></p>
            <span>Por R$12,85</span>
            </section>
            <section class="produto">
            <img src="/img/produtos/produto8.jpg">
            <p><a class="a3" href="/hotdog">Salsicha Hot dog Seara 500g</a></p>
            <span>Por R$9,90</span>
            </section>
            <section class="produto">
            <img src="/img/produtos/produto9.jpg">
            <p><a class="a3" href="/requeijão">Requeijão Danone 200g</a></p>
            <span>Por R$5,99</span>
            </section>
            <section class="produto">
            <img src="/img/produtos/produto10.jpg">
            <p><a class="a3" href="/pão">Pão pullman 500g</a></p>
            <span>Por R$9,29</span>
            </section>
            <section class="produto"> 
            <img src="/img/produtos/produto11.jpg">
            <p><a class="a3" href="/margarina">Margarina Becel 500 g</a></p>
            <span>Por R$7,99</span>
            </section>
            <section class="produto"> 
            <img src="/img/produtos/produto12.jpg">
            <p><a class="a3" href="/iogurte">Iogurte Danone desnatado 1,25 kg</a></p>
            <span>Por R$12,95</span>
            </section>
            <section class="produto"> 
            <img src="/img/produtos/produto13.jpg">
            <p><a class="a3" href="/café">Café Pilão tradicional 500g</a></p>
            <span>Por R$17,98</span>
            </section>
            <section class="produto"> 
            <img src="/img/produtos/produto14.jpg">
            <p><a class="a3" href="/toddy">Toddy Twix achocolado em pó 350g</a></p>
            <span>Por R$5,99</span>
            </section>
            <section class="produto"> 
            <img src="/img/produtos/produto15.jpg">
            <p><a class="a3" href="/molico">Leite em pó Molico desnatado 280g</a></p>
            <span>Por R$14,49</span>
            </section>
            <section class="produto">
            <img src="/img/produtos/produto16.jpg">
            <p><a class="a3" href="/chá">Chá Leão Matte 250g</a></p>
            <span>Por R$7,99</span>
            </section>
            <section class="produto"> 
            <img src="/img/produtos/produto17.jpg">
            <p><a class="a3" href="/arroz">Arroz Tio João agulhinha tipo 1 1kg </a></p>
            <span>Por R$4,98</span>
            </section>
            <section class="produto"> 
            <img src="/img/produtos/produto18.jpg">
            <p><a class="a3" href="/azeite">Azeite extra virgem Serrat 500ml</a></p>
            <span>Por R$22,99</span>
            </section>
            <section class="produto">
            <img src="/img/produtos/produto19.jpg">
            <p><a class="a3" href="/macarrão">Macarrão Grano Duro Pene Rigate n 45 500g</a></p>
            <span>Por R$8,99</span>
            </section>
            <section class="produto">
            <img src="/img/produtos/produto20.jpg">
            <p><a class="a3" href="/molho"></a>Molho de Tomate Basilio 390 g</p>
            <span>Por R$7,69</span>
            </section>
            <section class="produto">
            <img src="/img/produtos/produto21.jpg">
            <p><a class="a3" href="/leite-condensado"></a>Leite Condensado Itambé Lata 395g</p>
            <span>Por R$6,29</span>
            </section>
            <section class="produto">
            <img src="/img/produtos/produto22.jpg">
            <p><a class="a3" href="/biscoito-maizena">Biscoito Maizena 200g </a></p>
            <span>Por R$2,69</span>
            </section>
            <section class="produto">
            <img src="/img/produtos/produto23.jpg">
            <p><a class="a3" href="/queijo-vigor"></a>Queijo Vigor ralado 100g</p>
            <span>Por R$8,99</span>
            </section>
            <section class="produto">
            <img src="/img/produtos/produto24.jpg">
            <p><a class="a3" href="/azeitona"></a>Azeitona Hemmer Verde 150g</p>
            <span>Por R$6,99</span>
            </section>
            <section class="produto">
            <img src="/img/produtos/produto25.jpg">
            <p><a class="a3" href="/bombom-lacta">Bombom Lacta 250,6g</a></p>
            <span>Por R$12,42</span>
            </section>
            <section class="produto">
            <img src="/img/produtos/produto26.jpg">
            <p><a class="a3" href="/diamante">Chocolate Diamante Negro 90g</a></p>
            <span>Por R$4,89</span>
            </section>
            <section class="produto">
            <img src="/img/produtos/produto27.jpg">
            <p><a class="a3" href="/lacta-amendoas">Chocolate 40% Cacau Amendôas</a></p>
            <span>Por R$7,39</span>
            </section>
            <section class="produto">
            <img src="/img/produtos/produto28.jpg">
            <p><a class="a3" href="/amandita">Chocolate Amandita lacta 200g</a></p>
            <span>Por R$9,98</span>
            </section>
            <section class="produto">
            <img src="/img/produtos/produto29.jpg">
            <p><a class="a3" href="/jasmine">Biscoito Integral Jasmine 75g</a></p>
            <span>Por R$3,89</span>
            </section>
            <section class="produto">
            <img src="/img/produtos/produto30.jpg">
            <p><a class="a3" href="/geleia">Geleia Frutas Vermelhas Linea 230g</a></p>
            <span>Por R$14,99</span>
            </section>
            <section class="produto">
            <img src="/img/produtos/produto31.jpg">
            <p><a class="a3" href="/chocolate">Chocolate 40% Cacau Amendôas</a></p>
            <span>Por R$7,39</span>
            </section>
            <section class="produto">
            <img src="/img/produtos/produto32.jpg">
            <p><a class="a3" href="/macarrão">Macarrão Urbano Parafuso 500g</a></p>
            <span>Por R$3,99</span>
            </section>
    
    
    
    

        </section>
    </main>
        <footer class="rodape">
        <div class="links"> 
            <ul class="ul3">
            <h2>INSTITUCIONAL</h2>
            <li class="l3"><a class="a4" href="#">Quem Somos</a></li>
            <li class="l3"><a class="a4" href="#">Lojas Físicas</a></li>
            <li class="l3"><a class="a4" href="#">Trabalhe Conosco</a></li>
            <li class="l3"><a class="a4" href="#">Central de Atendimento</a></li>
            </ul>
            <ul class="ul3">
                <h2>SERVIÇOS </h2>
                <li class="l3"><a class="a4" href="#">Termos de Uso</a></li>
                <li class="l3"><a class="a4" href="#">Formas de Pagamento</a></li>
                <li class="l3"><a class="a4" href="#">Política de Privacidade</a></li>
                <li class="l3"><a class="a4" href="#">Política de Troca</a></li>
                <li class="l3"><a class="a4" href="#">Política de Venda</a></li>
                <li class="l3"><a class="a4" href="#">Dúvidas Frequentes</a></li>
                </ul>
                <ul class="ul3">
                    <h2>MINHAS PÁGINAS </h2>
                    <li class="l3"><a class="a4" href="#">Compra Segura</a></li>
                    <li class="l3"><a class="a4" href="#">Entrega</a></li>
                    <li class="l3"><a class="a4" href="#">Meus Pedidos</a></li>
                    <li class="l3"><a class="a4" href="#">Minhas Listas</a></li>
                    <li class="l3"><a class="a4" href="#">Meu Cadastro</a></li>
                </ul>
            
            <section class="pagamento"> 
                <h3>Formas de Pagamento</h3>
                         
                <img class="cartão" src="/img/cartoes/forma de pagamento - icon1-mastercard.png">
                <img class="cartão1" src="/img/cartoes/forma de pagamento - icon2-visa.png">
                <img class="cartão2" src="/img/cartoes/elo-icon-cartao.png">
                <img class="cartão3" src="/img/cartoes/forma de pagamento - icon4-diners club.png">
                <img class="cartão4" src="/img/cartoes/forma de pagamento - icon5-hipercard.png">
                <img class="cartão5" src="/img/cartoes/forma de pagamento - icon6-alelo.png">
               
                    </section>
    

        </div>
            
    </footer>
    
</body>
</html>
