<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/estilo.css">

</head>
<body>
    <header class="topo"> 
        <img class="logo" src="/public/img/cabecalho-img/logo_bh (1).png">
        <div class="menu1">
            <input type="text" placeholder=" Digite o que você procura por aqui">
            <div class="login">
           <img src="/public/img/cabecalho-img/carrinho vetor 2.png" height="42px" left="50px" >
           <img class="carrinho" src="/public/img/cabecalho-img/login-supermercado.png">
            <div class="menu2"> 
                <a href="#">Login</a>
                ou 
                <a href="#">Cadastre-se</a>
            </div>
            </div>
            </div>
            <div class="lupa">
            <button class="botao1"><img src="/public/img/cabecalho-img/icone-loupe-noir.png"height="42px"></button>
            </div>
            <div class="menu"> 
                <div class="box1"><a href="#">inicio</a></div>
                <div class="box2"><a href="#">Para Empresa</a></div>
                <div class="box4"><a href="#">Cartão Promocional</a></div>
                <div class="box5"><a href="#">Sobre Nós</a></div>
                <div class="box6"><a href="#">Conteúdo</a></div>

            </div>
            

    </header>
    <main class="conteudo"> 
    <div class="caixas"> 
        <div class="item1">Todas as Seções</div>
        <div class="item2">Mercearia</div>
        <div class="item3">Limpeza</div>
        <div class="item4">Bebidas</div>
        <div class="item5">Açougue</div>
        <div class="item6">Frios</div>
        <div class="item7">Perfumaria</div>
        <div class="item8">Hortifruti</div>
        <div class="item9">Saudáveis</div>
        <div class="item10">Importados</div>
        <div class="item11">SuperOfertas</div>

    </div>
    <section class="carrossel">
        <div class="fotos">
            <img class="foto1" src="/public/img/carrossel/banner-frete gratis mercado.jpg" alt="foto 1">
            <img class="foto2" src="/public/img/carrossel/banner-premios-mercado.jpg" alt="foto 2">
            <img class="foto3" src="/public/img/carrossel/banner-ofertas-supermercado.jpg" alt="foto 3">
            <img class="foto6" src="/public/img/carrossel/banner-items-supermercado.jpg" alt="foto4">
            <img class="foto1" src="/public/img/carrossel/banner-frete gratis mercado.jpg" alt="foto 1">
            
            
        </div>
    </section>
    <div class="conteudo2">
        <div class="imagem1">
            <div class="foto">
            <img src="/public/img/produtos/mercado-arroz.webp" width="174px" href="/produtointerno">
            </div>
            <div class="bloco1">Arroz Camil</div>
            <div class="preço1">R$9,89</div>
          </div>
          <div class="imagem2">
            <img src="/public/img/produtos/listagem de produtos - trakinas.webp" width="174px" >
            <div class="bloco2">Bolacha Trakinas</div>
            <div class="preço2">R$5,89</div>
          </div>
          <div class="imagem3"> 
              <img src="/public/img/produtos/listagem de produtos caixa-de-bombom-lacta.jpg"  width="174px">
              <div class="bloco3">Bombom Lacta</div>
              <div class="preço3">R$8,49</div>
          </div>
          <div class="imagem4">
              <img src="/public/img/produtos/listagem de produtos - carvao1.png" width="174px">
              <div class="bloco4">Carvão</div>
              <div class="preço4">R$17,65</div>
          </div>
          <div class="imagem5">
              <img src="/public/img/produtos/listagem de produtos - café expresso.webp" width="174px" height="170px">
              <div class="bloco5">Café Expresso</div>
              <div class="preço5">R$23,85</div>
          </div>
          <div class="imagem6"> 
              <img  src="/public/img/produtos/listagem de produtos - tapioca.jpg" width="174px" height="170px" left="2px">
              <div class="bloco6">Tapioca</div>
              <div class="preço6">R$7,88</div>
          </div>
         <div class="imagem7">
             <img src="/public/img/produtos/listagem de produtos - café melita.jpg" width="174px" height="170px" left="2px">
             <div class="bloco7">Café Melita</div>
             <div class="preço7">R$14,88</div>
          </div>
          <div class="imagem8"> 
              <img src="/public/img/produtos/listagem de produtos - filé de frango.jpg" width="174px">
              <div class="bloco8">Filé de Frango</div>
              <div class="preço8">R$17,65</div>
          </div>
          <div class="imagem9">
              <img src="/public/img/produtos/listagem de produtos - patinho.jpg" width="174px" height="170px">
              <div class="bloco9">Patinho</div>
              <div class="preço9">R$32,00</div>
          </div>
          <div class="imagem10">
              <img src="/public/img/produtos/listagem de produtos - papel higiênico.jpg"width="174px">
              <div class="bloco10">Papel higiênico</div>
              <div class="preço10">R$31,00</div>
          </div>
          <div class="imagem11"> 
              <img src="/public/img/produtos/listagem de produtos - milho de pipoca.webp"width="174px">
              <div class="bloco11">Milho de Pipoca</div>
              <div class="preço11">R$10,80</div>
          </div>
          <div class="imagem12">
              <img src="/public/img/produtos/listagem de produtos - oleo soya.png"width="174px">
              <div class="bloco12">Óleo</div>
              <div class="preço12">R$5,60</div>
          </div>
    </main>
    <footer class="rodape">
        <div class="rodape1">
            <div class="caixa1">Links Úteis</div>
           <div class="caixa2">Benefícios</div>
           <div class="caixa3"> Perguntas frequentes</div>
            <div class="caixa4">Trabalhe conosco</div>
           <div class="caixa5"> Termos e Condições</div>
           <div class="caixa6"> Politica de privacidade</div>
        </div>
        <div class="rodape2"> 
            <br>Fique Por Dentro das Novidades</br>
            <br>Baixe o nosso app e aproveite as nossas ofertas</br>
        </div>
        <div class="rodape3"> 
            <input class="texto" type="email"placeholder="Digite seu e-mail">
            <div class="rodape4">
            <button class="botao2">Inscreva-se</button>
        </div>
        <div class="formasdepagamento"><h1>Cartões</h1></div> 
        <div class="cartões">
                                    
            <img class="cartão" src="/public/img/cartoes/forma de pagamento - icon1-mastercard.png">
            <img class="cartão1" src="/public/img/cartoes/forma de pagamento - icon2-visa.png">
            <img class="cartão2" src="/public/img/cartoes/elo-icon-cartao.png">
            <img class="cartão3" src="/public/img/cartoes/forma de pagamento - icon4-diners club.png">
            <img class="cartão4" src="/public/img/cartoes/forma de pagamento - icon5-hipercard.png">
            <img class="cartão5" src="/public/img/cartoes/forma de pagamento - icon6-alelo.png">

        </div>
        

    </footer>
    
</body>
</html>