 .rodape {
	height:400px;
	width: 100%;
	background-color:black;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	line-height: 1.8;
	margin:10px;
	top:100px;
  }

  
  .-r,.footer,.a4{
	color: white;
  }

.logo-r{
	margin-bottom:120px;
}

.link2{
	margin-top:40px;
}
  .cartão1{
	max-width: 60px;
	height: 60px;
  }

  .a4:hover{
   color:orangered;
  }

@media (max-width:768px){
	.rodape{
		display:block;
	}
	.a4{
		display: block;
	}
}