<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>painel</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/estilo.css">
    <link rel="stylesheet" href="/css/paineUsuario.css">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://kit.fontawesome.com/d2fa55e176.js" crossorigin="anonymous"></script>



</head>
<body>
<%- include('./partials/header') %>

<main> 
<section class="painel-usuario-container-1">
<div class="info-clientes"> 
<img src="/img/painel-de-usuario/avatar-image.jpeg" >
<div class="compras"> 
 <i class="fa-solid fa-money-bill ">compras</i>
</div>
</div>
</section>

</main>
<%- include('./partials/footer') %>

</body>
</html>
