<footer class="rodape">
    <div class="links"> 
        <ul class="ul3">
        <h2>INSTITUCIONAL</h2>
        <li class="l3"><a class="a4" href="#">Quem Somos</a></li>
        <li class="l3"><a class="a4" href="#">Lojas Físicas</a></li>
        <li class="l3"><a class="a4" href="#">Trabalhe Conosco</a></li>
        <li class="l3"><a class="a4" href="#">Central de Atendimento</a></li>
        </ul>
        <ul class="ul3">
            <h2>SERVIÇOS </h2>
            <li class="l3"><a class="a4" href="#">Termos de Uso</a></li>
            <li class="l3"><a class="a4" href="#">Formas de Pagamento</a></li>
            <li class="l3"><a class="a4" href="#">Política de Privacidade</a></li>
            <li class="l3"><a class="a4" href="#">Política de Troca</a></li>
            <li class="l3"><a class="a4" href="#">Política de Venda</a></li>
            <li class="l3"><a class="a4" href="#">Dúvidas Frequentes</a></li>
            </ul>
            <ul class="ul3">
                <h2>MINHAS PÁGINAS </h2>
                <li class="l3"><a class="a4" href="#">Compra Segura</a></li>
                <li class="l3"><a class="a4" href="#">Entrega</a></li>
                <li class="l3"><a class="a4" href="#">Meus Pedidos</a></li>
                <li class="l3"><a class="a4" href="#">Minhas Listas</a></li>
                <li class="l3"><a class="a4" href="#">Meu Cadastro</a></li>
            </ul>
        
        <section class="pagamento"> 
            <h3>Formas de Pagamento</h3>
                     
            <img class="cartão" src="/img/cartoes/forma de pagamento - icon1-mastercard.png">
            <img class="cartão1" src="/img/cartoes/forma de pagamento - icon2-visa.png">
            <img class="cartão2" src="/img/cartoes/elo-icon-cartao.png">
            <img class="cartão3" src="/img/cartoes/forma de pagamento - icon4-diners club.png">
            <img class="cartão4" src="/img/cartoes/forma de pagamento - icon5-hipercard.png">
            <img class="cartão5" src="/img/cartoes/forma de pagamento - icon6-alelo.png">   
        </section>
    </div>
</footer>