<div class="header">
    <nav class="header">
		<input type="checkbox" id="check">
		<label for="check" class="checkbtn">
		<i class="fas fa-bars"></i>
		</label>
		<label class="logo">Mercado DH</label>
		<ul>
			<li><a class="active" href="#">Início</a></li>
			<li><a href="#">Sobre</a></li>
			<li><a href="#"><img class="img" src="/img/cabecalho-img/login4-.jpg"></a></li>
			<li><a href="#"><img class="img1" src="/img/cabecalho-img/carrinho.vetor.jpg"></a></li>
		</ul>
	</nav>
</div>