<div class="header">
    <nav>
		<input type="checkbox" id="check">
		<label for="check" class="checkbtn">
		<i class="fas fa-bars"></i>
		</label>
		<label class="logo">Mercado DH</label>
		<ul>
			<li><a class="active" href="#">Início</a></li>
			<li><a href="#">Sobre</a></li>
			<li><a href="#">Serviços</a></li>
			<li><a href="#">Contato</a></li>
		</ul>
	</nav>
</div>