<div class="header">
    <nav class="nav-1">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">Mercado DH</label>
        <ul>
            <li><a class="active" href="#">Entrega  ou Retirada</a></li>
            <li><a  class="a1" href="#" >Prêmios</a></li>
            <li><a  class="a1" href="#">Para Você</a></li>
            <li><a href="#"><img class="img" src="/img/cabecalho-img/login4-.jpg"></a></li>
            <li><a href="#"><img class="img1" src="/img/cabecalho-img/carrinho.vetor.jpg"></a></li>
        </ul>
    </nav>
    <nav class="caixas"> 
        <ul class="ul1">
        <li class="li1"><a class="a2" href="#">Todas as Seções</a></li>
        <li class="li1"><a class="a2" href="#">Mercearia</a></li>
        <li class="li1"><a class="a2" href="#">Limpeza</a></li>
        <li class="li1"><a class="a2" href="#">Bebidas</a></li>
        <li class="li1"><a class="a2" href="#">Açougue</a></li>
        <li class="li1"><a class="a2" href="#">Frios</a></li>
        <li class="li1"><a class="a2" href="#">Perfumaria</a></li>
        <li class="li2"><a class="a3" href="#">SuperOfertas</a></li>
        
        </ul>
    </nav>
</div>