<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    <link rel="stylesheet" href="/css/login.css">
	<link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/class.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>
<body>
	<!-- <%- include('../partials/header'); %> -->

	<div class="container">
		<div class="login-card text-center py-3">
			<!-- <label class="logo">Mercado DH</label> -->
			<form method="POST" action="/users/login">
				<h1>Login</h1>
				<div class="p-1">
					<input class="login-input" type="text" placeholder="E-mail" name="user_email">
				</div>
				<div class="p-1">
					<input class="login-input" type="password" placeholder="Senha" name="user_password">
				</div>
				<button class="login-btn mt-1" type="submit">Entrar</button>
			</form>
			
		</div>
	</div>
    


	<!-- <%- include('../partials/footer'); %> -->

</body>
</html>